# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ReverseIt.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\source\repos\ReverseIt\.idea\.idea.ReverseIt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
